<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>   
    <link rel="stylesheet" href="/css/index.css">
    <style>
        .details{
            background-color: rgb(112, 52, 52);
            box-shadow: none;
            color: white;
        }
        h4{
            background-color: skyblue;
            color: white;
        }
    </style>
</head>
<body>
    <div class="navbar">
        <span style="width:100px; height:100px; padding: 20px;"><img src="/res/logo.png"alt="not found logo" height="100%"></span>
        <span><a href="./login">Log In</a></span>
        <span><a href="./signup">Sign Up</a></span>
        <span><a href="./team">Our Team</a></span>
        <span><a href="./contact">Contact Us</a></span>        
    </div>
    <div style="width:75vw; text-align: center; margin: auto;">
        
    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio explicabo eius, quibusdam dolor quo nemo excepturi dolore officia. Veritatis, nihil.</h4>
    <button class="details">Source</button>
        <button class="details">Author</button>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam aspernatur sit cupiditate quos illo ipsum placeat libero ipsa, ab, magnam repellat aliquam commodi sapiente provident, soluta reiciendis debitis maxime enim unde eum inventore dignissimos suscipit. Sit, dolore deserunt aut nobis temporibus exercitationem maiores quas iusto ex enim natus </p>
<button>Read More</button></div>
                
    
</body>
</html>