<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
  background: #aaa;
  background: -webkit-linear-gradient(right,#aaa, #000);
  background: -moz-linear-gradient(right, #aaa, #000);
  background: -o-linear-gradient(right, #aaa, #000);
  background: linear-gradient(to left, #aaa, #000);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;   
  color: white;   
}
    </style>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="navbar">
        <span style="width:100px; height:100px; padding: 20px;"><a href="./"><img src="/res/logo.png"alt="not found logo" height="100%"></a></span>
        <span><a href="./login" class="navv">Log In</a></span>
        <span><a href="./signup" class="navv">Sign Up</a></span>
        <span><a href="./team" class="navv">Our Team</a></span>
        <span><a href="./contact" class="navv">Contact Us</a></span>        
    </div>
    <div style="color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 6rem; margin: auto;">
    <h1>404</h1>
    <h2>PAGE NOT FOUND</h2>
</div>
</html>