<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select</title>
    <style>
        .ele{
            height: 30vh;
            width:25vw;
            margin: 30px;
            float: left;
            
        }
        h5 {
            position: absolute;
            top: 40%;
            left: 12%;
            font-size: 25px;
        }
        .bu{background-color:rgb(0,0,0);
           border-radius: 5px;
           height:50px;
           width:100px;
           color:white;
           box-shadow: gray;}
        body {
  background: #aaa;
  background: -webkit-linear-gradient(right,#aaa, #000);
  background: -moz-linear-gradient(right, #aaa, #000);
  background: -o-linear-gradient(right, #aaa, #000);
  background: linear-gradient(to left, #aaa, #000);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;    
  color: white;  
}
    </style>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="navbar">
        <span style="width:100px; height:100px; padding: 20px;"><a href="./"><img src="/res/logo.png"alt="not found logo" height="100%"></a></span>
        <span><a href="./login" class="navv">Log In</a></span>
        <span><a href="./signup" class="navv">Sign Up</a></span>
        <span><a href="./team" class="navv">Our Team</a></span>
        <span><a href="./contact" class="navv">Contact Us</a></span>        
    </div>
    <div align="center">
    <h1>What's your mood?</h1>
    <form action="./news" method="GET">
    <div class="ele" style="background-image:url(/res/politics.jpg);background-size: contain;">
        <button type="submit" name="newval" value="politics" class="bu">Politics</button>
    </div>
    <div class="ele" style="background-image:url(/res/cricket.jpg);background-size: contain;">
        <button type="submit" name="newval" value="cricket" class="bu">Cricket</button>
    </div>
    <div class="ele" style="background-image:url(/res/bollywood.jpeg);background-size: contain;">
        <button type="submit" name="newval" value="bollywood" class="bu">Bollywood</button>
    </div>
    <div class="ele" style="background-image:url(/res/economy.jfif);background-size: contain;">
        <button type="submit" name="newval" value="economy" class="bu">Economy</button>
    </div>
    <div class="ele" style="background-image:url(/res/videogame.jfif);background-size: contain;">
        <button type="submit" name="newval" value="videoGames" class="bu">Vidoe Games</button>
    </div>
    <div class="ele" style="background-image:url(/res/history.jfif);background-size: contain;">
        <button type="submit" name="newval" value="history" class="bu">History</button>
    </div><br></form>
    </div>   

</body>
</html>