<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../css/login.css">
    
</head>
<body>
    <div class="navbar">
      <span style="width:100px; height:100px; padding: 20px;"><a href="/"><img src="../res/logo.png"alt="" height="100%"></a></span>
      <span><a class="a1" href="./login">Log In</a></span>
      <span><a class="a1" href="./signup">Sign Up</a></span>
      <span><a class="a1" href="./team">Our Team</a></span>
      <span><a class="a1" href="./contact">Contact Us</a></span>        
    </div>
    <div class="login-page">
        <div class="form">
            <h3>Log into your account.</h3>
          <form class="login-form" method="POST" action="./login">
            <input type="email" placeholder="Email" name="email"/>
            <input type="password" placeholder="password" name="password"/>
            <button type="submit">Log IN</button>
            <p class="message">Not registered? <a href="./signup">Create an account</a></p>
          </form>
        </div>
      </div>
</body>
</html>