<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <style>
      .navv {
            text-decoration: none;
            position: relative;
            float: right;
            padding: 40px 20px;
            margin-right: 50px;
            color: white;
        }

.navbar {
            margin: 0%; 
            padding-top: 0%; 
            height: 15vh; 
            background-color: #000;
        }

       .con{
           height:550px;
           width:450px;
           border:2px solid black;
           border-radius: 5px;
           margin:auto;
           padding:20px;
           margin-top: 10px;
           padding-top:10px;
           background-color: white;
           
       }
       .tex{
            height: 30px;
            width:200px;
            background-color:#f2f2f2;
            font-weight: 800;
            margin: 5px;
            box-shadow: none !important;
            border: none;
            padding: 6px;

       }
       .bu{
           background-color:rgb(0,0,0);
           border-radius: 5px;
           height:50px;
           width:100px;
           color:white;
           box-shadow: gray;
       }
       body {
  background: #aaa;
  background: -webkit-linear-gradient(right,#aaa, #000);
  background: -moz-linear-gradient(right, #aaa, #000);
  background: -o-linear-gradient(right, #aaa, #000);
  background: linear-gradient(to left, #aaa, #000);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}
    </style>
    
    
</head>
<body style="background-color: #aaa;">

  <div class="navbar">
    <span style="width:100px; height:100px; padding: 20px;"><a href="./"><img src="/res/logo.png"alt="not found logo" height="100%"></a></span>
    <span><a href="./login" class="navv">Log In</a></span>
    <span><a href="./signup" class="navv">Sign Up</a></span>
    <span><a href="./team" class="navv">Our Team</a></span>
    <span><a href="./contact" class="navv">Contact Us</a></span>        
</div>
  <form action="/signup" method="post">
  <div class="con">
  <h1 style="margin-bottom: 0px;">Sign Up</h1>
  <p style="margin-top: 0px;">Please fill this form to create account</p>
  <hr>
  <input class="tex" style="float: left;width:415px;" type="text" placeholder="Name" name="username">
  <input class="tex" style="width:415px" type="text" placeholder="Email" name="email">
  <br>
  <input class="tex" style="width:415px" type="password" placeholder="Password" name="password"> <br>
  <input class="tex" style="width:415px" type="password" placeholder="Confirm Password" name="conpassword"><br>
  <input type="checkbox">I accept the terms of use and privacy policy</a>. <br> <br>
  <button class="bu"><h3>Sign Up</h3></button>
  </div>
</form>
</body>
</html>
