.message{
    background-color: gray;
    width:24%;
    padding: 10px;
    margin:17px 12px;
    border: 2px solid black;
    border-radius: 5px;
    border-radius: 20px;
    word-wrap: break-word;
}
.left{
    float: left;
    clear: both;
    background-color: #78e08f;
}
.middle{
    margin: auto;
    background-color: rgb(197, 243, 99);
    clear: both;
    text-align: center;
}
.right{
    float:right;
    clear: both;
    background-color:#82ccdd;
}
.container{
    max-width: 955px;
    background-color: #f8f8ff;
    margin: auto;
    height: 80vh;
    overflow-y: auto;
    padding:10px;
    margin-bottom: 20px;
    border-radius: 30px;
    background: linear-gradient(to left, rgb(180, 193, 218), rgb(106, 240, 245));
}
.send{
    text-align: center;
}
#texinp{
    border-radius: 25px;
    width:60%;
    border:2px solid black;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    background-clip: padding-box;
    outline: 0;
    overflow: auto;
    resize: vertical;
}
#sendbutton{
    cursor: pointer;
    background-image: url("/res/sendicon.png");
    background-size: contain;
    width: 4%;
    border-radius: 50px;
    height: 35px;
    border:2px solid black;
    padding: .375rem .75rem;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
   

    

}
body {
    background: #aaa;
    background: -webkit-linear-gradient(right,#aaa, #000);
    background: -moz-linear-gradient(right, #aaa, #000);
    background: -o-linear-gradient(right, #aaa, #000);
    background: linear-gradient(to left, #aaa, #000);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;      
  }